{
  "folder_id": "REPLACE THIS TEXT WITH A VALID CEDAR FOLDER ID ON WHICH TO RUN THE UNIT TESTS",
  "template_id": "REPLACE THIS TEXT WITH A VALID CEDAR TEMPLATE ID ON WHICH TO RUN THE UNIT TESTS",
  "example_template_file_no_id": "example_template_no_id.json",
  "example_template_file_with_id": "example_template_with_id.json",
  "production_key": "REPLACE THIS TEXT WITH YOUR CEDAR PRODUCTION API KEY STRING",
  "staging_key":"REPLACE THIS TEXT WITH YOUR CEDAR STAGING API KEY STRING",
  "user_id":"REPLACE THIS TEXT WITH YOUR CEDAR USER IDENTIFIER";
  "flowrepo_userID": "REAPLCE THIS TEXT WITH YOUR FLOWREPOSITRY USER ID"
}