{
        "$schema": "http://json-schema.org/draft-04/schema#",
        "@id": null,
        "@context": {{TEMPLATE_CONTEXT | tojson}},
        "@type": "{{TEMPLATE_TYPE}}",
        "type": "object",
        "title": "{{title}} element schema",
        "description": "{{description}} ",
        "schema:name": "{{FIELD_KEY}}",
        "schema:description": "{{description}}",
        "schema:schemaVersion": "1.4.0",
        "bibo:status":"bibo:draft",
        "pav:version":"0.1",
        "pav:createdOn": "{{NOW}}",
        "pav:lastUpdatedOn": "{{NOW}}",
        "pav:createdBy": "{{USER_URL}}",
        "oslc:modifiedBy": "{{USER_URL}}",
        "_ui": {
            "order": [
                {% for item in TEMP_PROP %}
                    "{{item}}" {% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            "propertyLabels": {
                {% for item in TEMP_PROP %}
                    "{{item}}" : "{{item}}"{% if not loop.last %},{% endif %}
                {% endfor %}
            }
        },
        {% set requiredList = required %}
        "required":[
            "@context",
            "@id"
            {% for item in requiredList %}
                ,"{{item}}"
            {% endfor %}
        ],
        "properties": {
            {% for itemKey, itemVal in PROP_CONTEXT.items() %}
                "{{itemKey}}": {{itemVal | tojson}} {% if not loop.last %},{% endif %}
            {% endfor %},
            {% for itemKey, itemVal in TEMP_PROP.items() %}
                {% if '$ref' in itemVal %}
                    {% if itemKey in SUB_SPECS %} "{{itemKey}}": {{SUB_SPECS[itemKey] | tojson}}
                    {% endif %}
                {% elif 'items' in itemVal and '$ref' in itemVal['items'] %}
                    {% if itemKey in SUB_SPECS %} "{{itemKey}}": {{SUB_SPECS[itemKey] | tojson}}
                    {% endif %}
                {% else %}
                    "{{itemKey}}": {
                        "@context": {{ITEM_CONTEXT | tojson}},
                        "title": "{{itemKey}} field schema generated by {{MIRCAT}}",
                        "schema:description": "{{itemKey}}",
                        "additionalProperties": false,
                        "oslc:modifiedBy": "{{USER_URL}}",
                        "pav:createdOn": "{{NOW}}",
                        "_ui": {
                            "inputType": "textfield"
                        },
                        "description":
                            {% if itemVal.description %} "{{itemVal.description}}"
                            {%else %} "{{item}} autogenerated by {{MIRCAT}}"
                            {% endif %},
                        "pav:lastUpdatedOn": "{{NOW}}",
                        "required": [
                            "@value"
                        ],
                        "@type": "https://schema.metadatacenter.org/core/TemplateField",
                        "_valueConstraints": {
                            {% if itemVal['_valueConstraints'] is defined and itemVal['_valueConstraints']['defaultValue'] is defined %}
                                "defaultValue": "{{itemVal['_valueConstraints']['defaultValue']}}",
                            {% endif %}
                            "requiredValue":
                                {% if (requiredList is defined) and (itemKey in requiredList) %} true
                                {% else %} false
                                {% endif%}
                        },
                        "pav:createdBy": "{{USER_URL}}",
                        "schema:name": "{{itemKey}}",
                        "@id": null,
                        "schema:schemaVersion": "1.4.0",
                        "type": "object",
                        "$schema": "http://json-schema.org/draft-04/schema#",
                        "properties": {
                            "@type": {
                                "oneOf": [
                                    {
                                      "format": "uri",
                                      "type": "string"
                                    },
                                    {
                                        "uniqueItems": true,
                                        "minItems": 1,
                                        "type": "array",
                                        "items": {
                                            "format": "uri",
                                            "type": "string"
                                        }
                                    }
                                ]
                            },
                            "@value": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "rdfs:label": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            }
                        }
                    }
                {% endif %}
                {% if not loop.last %},{% endif %}
            {% endfor %}
        },
         "additionalProperties": {% if additionalProperties %} {{additionalProperties}} {% else %} false {% endif%}
    }